{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Add new mailing!
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Дата и время запуска рассылки</label>
                    <input type="text" class="form-control" name="start" value="{{start}}" required>
                </div>
                <div class="form-group">
                    <label>Дата и время окончания рассылки</label>
                    <input type="text" class="form-control" name="stop" value="{{stop}}" required>
                </div>
                <div class="form-group">
                    <label>Текст рассылки</label>
                    <textarea name="text" class="form-control" rows="3" required>Текст рассылки</textarea>
                </div>
                <div class="form-group">
                    <label>Фильтр свойств</label>
                    <textarea name="filter" class="form-control" rows="3" required>{"mobile_code": [900], "tags": ["tag1", "tag2"]}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add new mailing</button>
            </form>
        </div>
    </div>
</div>
