{% include 'layout.html' %}

<h3>Client ID: {{client.id}}</h3>
<h3>Client phone number: {{client.phone_number}}</h3>
<h3>Client mobile code: {{client.mobile_code}}</h3>
<h3>Client tag: {{client.tag}}</h3>
