{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Let's edit mailing!
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Дата и время запуска рассылки</label>
                    <input type="text" class="form-control" name="start" value="{{mailing.start}}" required>
                </div>
                <div class="form-group">
                    <label>Дата и время окончания рассылки</label>
                    <input type="text" class="form-control" name="stop" value="{{mailing.stop}}" required>
                </div>
                <div class="form-group">
                    <label>Текст рассылки</label>
                    <textarea name="text" class="form-control" rows="3" required>{{mailing.text}}</textarea>
                </div>
                <div class="form-group">
                    <label>Фильтр свойств</label>
                    <textarea name="filter" class="form-control" rows="3" required>{{mailing.filter}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Edit your mailing</button>
                <button onclick="window.location.href='/admin/delete/{{mailing.id}}'"
                        type="button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
