{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">Mailings</div>
    <div class="card-body">
        <h5 class="card-title">List of Mailings</h5>
        <p class="card-text"></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата и время запуска</th>
                    <th scope="col">Дата и время окончания</th>
                    <th scope="col">Текст</th>
                    <th scope="col">Фильтр</th>
                </tr>
            </thead>
            <tbody>
                {% for mailing in mailings %}
                <tr class="pointer">
                    <td>{{loop.index}}</td>
                    <td>{{mailing.start}}</td>
                    <td>{{mailing.stop}}</td>
                    <td>{{mailing.text}}</td>
                    <td>{{mailing.filter}}</td>
                    <td>
                        <button onclick="window.location.href='edit/{{mailing.id}}'"
                                type="button" class="btn btn-info">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="add">Add a new Mailing!</a>
    </div>
</div>
<p></p>

<div class="container">
    <div class="card text-center">
        <div class="card-header">Messages</div>
    <div class="card-body">
        <h5 class="card-title">List of Messages</h5>
        <p class="card-text"></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата и время создания (отправки)</th>
                    <th scope="col">Статус отправки</th>
                    <th scope="col">Рассылка</th>
                    <th scope="col">Клиент</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr class="pointer">
                    <td>{{loop.index}}</td>
                    <td>{{message.datetime}}</td>
                    <td>{{message.status}}</td>
                    <td>
                        <button onclick="window.location.href='show-mailing/{{message.mailing_id}}'"
                                type="button" class="btn btn-info">Показать</button>
                    </td>
                    <td>
                        <button onclick="window.location.href='show-client/{{message.client_id}}'"
                                type="button" class="btn btn-info">Показать</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
