<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MailingService</title>
</head>
<body>

{% include 'navbar.html' %}

{% block content %}
{% endblock %}

<script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
</body>
</html>