{% include 'layout.html' %}

<h3>Mailing ID: {{mailing.id}}</h3>
<h3>Mailing start: {{mailing.start}}</h3>
<h3>Mailing stop: {{mailing.stop}}</h3>
<h3>Mailing text: {{mailing.text}}</h3>
<h3>Mailing filter: {{mailing.filter}}</h3>
